<!-- <app-select-word></app-select-word> -->
<!--  <app-complete-word></app-complete-word> -->
<!--   <app-repeat></app-repeat> -->
<!-- <app-talk></app-talk> -->
<div [ngSwitch]="currentExercise.exerciseType">
   <app-select-word *ngSwitchCase="'select word'" [pagination]="pagination" [exerciseInfo]="currentExercise"
      (onCompleted)="setExercise()"></app-select-word>
   <app-complete-word *ngSwitchCase="'complete'" [pagination]="pagination" [exerciseInfo]="currentExercise"
      (onCompleted)="setExercise()"></app-complete-word>
   <app-repeat *ngSwitchCase="'repeat'" [pagination]="pagination" [exerciseInfo]="currentExercise" (onCompleted)="setExercise()"></app-repeat>
   <app-talk *ngSwitchCase="'voice'" [pagination]="pagination" [exerciseInfo]="currentExercise" (onCompleted)="setExercise()"></app-talk>
</div>